<html>
  <head>
    <link rel="icon" href="data:," />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
      body{
        width: "100vw";
        height: "100vh";
        text-align: center;
        font-family: 'Roboto';
        font-size: large;
      }
      button {
        font-family: 'Roboto';
        font-size: large;
      }
    </style>
  </head>
  <body>
    <h1>Create Post</h1>
    <form method="POST" action="/<%= username %>/createPost">
      <label>Enter post info: </label>
      <input type="text" name="post" />
      <button type="submit">Create Post</button>
    </form>
    <button onclick="goBack()">BACK</button>
    <script>
      function goBack(){
        window.history.back();
      }
    </script>
  </body>
</html>
