<html>
  <head>
    <link rel="icon" href="data:," />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
      body{
        width: "100vw";
        height: "100vh";
        text-align: center;
      }
      h1 {
        font-family: 'Roboto';
      }
      button {
        padding: '4px';
        font-family: 'Roboto';
        font-size: large;
      }
    </style>
  </head>
  <body>
    <h1><%= message %></h1>
    <br />
    <a href="http://localhost:3000/login"><button>Login</button></a>
    <a href="http://localhost:3000/signup"><button>Sign Up</button></a>
  </body>
</html>
